$app-theme-color: #C4E7D4; // Columbia Blue
$secondary-color: #B9C0DA;

$form-primary-color: #998DA0; // Spanish Gray
$text-color: #2C3E50;
$gray: #63585E;
$dark-gray: #68747F;
$light-gray: #F7F7F8;
$orange: #FFAF2D;
